
# DATABASE_URL='postgresql://news-animesh_owner:npg_NCs4fAK5iSak@ep-empty-math-a4owosnb-pooler.us-east-1.aws.neon.tech/news-animesh?sslmode=require'

# DATABASE_URL='postgresql://postgres:mysecret@localhost:5432/newshub'


# DATABASE_URL='postgresql://newshub_owner:npg_U7MWKwvQ9mtG@ep-falling-butterfly-a8n07g46-pooler.eastus2.azure.neon.tech/newshub?sslmode=require'


# Production Database URL
DATABASE_URL= 'postgres://'
    
# Add a strong, random string as your secret
# You can generate one using: openssl rand -base64 32
NEXTAUTH_SECRET=

# Also add the URL for your application
NEXTAUTH_URL=

PUBLIC_URL= 

UPLOADTHING_TOKEN=''
